body {
    /*background-color: rgba(243, 243, 243, 0.76) !important;*/
    padding: 0;
    margin: 0;
    height: 100vh !important;
}

.dock-demo .dock-window {
    width: 100%;
    position: relative;
    background: rgb(90,171,254) !important;
    background: -moz-linear-gradient(123deg, rgba(90,171,254,0.7961309523809523) 0%, rgba(82,97,252,1) 100%) !important;
    background: -webkit-linear-gradient(123deg, rgba(90,171,254,0.7961309523809523) 0%, rgba(82,97,252,1) 100%) !important;
    background: linear-gradient(123deg, rgba(90,171,254,0.7961309523809523) 0%, rgba(82,97,252,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5aabfe",endColorstr="#5261fc",GradientType=1) !important;
}

.p-dock-bottom {
    margin-bottom: 20px;
}

.dock-window {
    height: 100vh;
}

.dock-demo .p-dock {
    z-index: 1000;
}

.swal2-container {
    z-index: 9999 !important;
}

